body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    
    width: 800px;
    height: 600px;
    
}

.board-title {  
    width: 149px;
    height: 36px; 
    top: 68px;
     
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
  
    
}

h2 {
    background: #080001;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    
}

.home-score-btn {
    width: 50px;
    height: 45px;
    background: #1B244A;
    border: solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    
}

.guest-score-btn {
    width: 50px;
    height: 45px;
    background: #1B244A;
    border: solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    
}